/*
COLORS:
*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-white: #fff;
$color-black: #000;
$color-gray-dark: #777;
$color-gray-dark-2: rgb(156, 151, 151);
$color-gray-dark-3:#333;
$color-light-1:#f7f7f7;
$color-secondary-light:#ffb900;
$color-secondary:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary:#5643fa;


//grid

$grid-width:80rem;
$gutter-vertical:4rem;
$gutter-horizontal:4rem;

//font size

$default-font-size:1rem;