.u-center-text{
  text-align: center
  !important;
}
.u-center-margin-big{
  margin-bottom: 6rem;
}
.u-center-margin-medium{
  margin-bottom: 3rem
  !important;
}
.u-center-margin-small{
  margin-bottom: 1rem;
}

